
*{

	margin: 0;
	padding: 0;
}

body {

	background: #3498db;
	font-family: arial;
}

.contenedor{

	width: 80%;
	
	margin: 0 auto;
	overflow: hidden;
	font-size: 16px;
}

header {

	background: #000;
	margin: 20px 0;
}

header h1 {
	color: #fff;
	padding: 20px 0;
	text-align: center;

}

.main{

	width: 70%;
	background: #fff;
	padding: 20px;
	float: left;
	box-sizing:border-box;
}


.main img{

	width: 100%;
	height: auto;
}

aside{

	width: 30%;
	padding: 20px;
	box-sizing:border-box;
	background: #ccc;
	float: left;

}

footer{
	clear: both;
	float: left;
	margin-top:20px;
	box-sizing:border-box;
	width: 100%;
	padding: 20px;
	color: #fff;
	background: #000;


}

@media screen and (max-width: 800px){
	.main {
		width: 100%;
	}

	aside{
		width: 100%;
	}
}

@media screen and (max-width: 400px){

	.contenedor{
		width: 100%;
	}

	aside{
		display: none;
	}
}